<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  	<setting name="jdbcTypeForNull" value="NULL"/>  <!--  img가 없으면 tbl_member(img)에 null 값이 들어갈 수 있도록 함. -->
  </settings>
  <typeAliases>
  	<typeAlias alias="Board" type="com.yedam.vo.BoardVO"/>
  	<typeAlias alias="Search" type="com.yedam.common.SearchDTO"/>
  	<typeAlias alias="Member" type="com.yedam.vo.MemberVO"/>
  	<typeAlias alias="Reply" type="com.yedam.vo.ReplyVO"/>
  	
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="jsp"/>
        <property name="password" value="jsp"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/yedam/mapper/BoardMapper.xml"/>
    <mapper resource="com/yedam/mapper/MemberMapper.xml"/>
    <mapper resource="com/yedam/mapper/ReplyMapper.xml"/>
  </mappers>
</configuration>