<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.MemberMapper">
	
	<select id="selectMember" resultType="Member">
		select member_id
		       ,member_name
		       ,password
		       ,responsibility
		from tbl_member
		where member_id = #{id}
		  and  password = #{pw}
	</select>

</mapper>